<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f0fb48b52c6e593feea497372008b9e1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f0fb48b52c6e593feea497372008b9e1" ></div>
        
</body>
<script>
    
    
            var map_f0fb48b52c6e593feea497372008b9e1 = L.map(
                "map_f0fb48b52c6e593feea497372008b9e1",
                {
                    center: [40.497346, -74.440088],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 12,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_3d1c906b24a612c35c1c16d13ba76507 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_3d1c906b24a612c35c1c16d13ba76507.addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
            var circle_marker_8d196ad19119403392058d3ae091d101 = L.circleMarker(
                [40.4071, -74.413],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_9b2b13bfcd097b1d95b9d17d15dd841c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8858e4b3122fe4a861904e85b9eb947e = $(`<div id="html_8858e4b3122fe4a861904e85b9eb947e" style="width: 100.0%; height: 100.0%;">Store Name: ShopRite of East Brunswick |  Banana $0.59</div>`)[0];
                popup_9b2b13bfcd097b1d95b9d17d15dd841c.setContent(html_8858e4b3122fe4a861904e85b9eb947e);
            
        

        circle_marker_8d196ad19119403392058d3ae091d101.bindPopup(popup_9b2b13bfcd097b1d95b9d17d15dd841c)
        ;

        
    
    
            var circle_marker_bcd3d4642c4be75a468fa767a7764990 = L.circleMarker(
                [40.4075, -74.4135],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_49eea872349b8e9d1719e32b44b12121 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_98b79b1f1b458f0bf61b91d286abb67c = $(`<div id="html_98b79b1f1b458f0bf61b91d286abb67c" style="width: 100.0%; height: 100.0%;">Store Name: ACME Markets |  Banana $0.55</div>`)[0];
                popup_49eea872349b8e9d1719e32b44b12121.setContent(html_98b79b1f1b458f0bf61b91d286abb67c);
            
        

        circle_marker_bcd3d4642c4be75a468fa767a7764990.bindPopup(popup_49eea872349b8e9d1719e32b44b12121)
        ;

        
    
    
            var circle_marker_c57fa1755e540d503a79fc7655b0ccd4 = L.circleMarker(
                [40.586, -74.616],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_a59e841307669102366beceac7db6774 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4a96bb6248d1957708e97af76aead480 = $(`<div id="html_4a96bb6248d1957708e97af76aead480" style="width: 100.0%; height: 100.0%;">Store Name: Wegmans |  Banana $0.69</div>`)[0];
                popup_a59e841307669102366beceac7db6774.setContent(html_4a96bb6248d1957708e97af76aead480);
            
        

        circle_marker_c57fa1755e540d503a79fc7655b0ccd4.bindPopup(popup_a59e841307669102366beceac7db6774)
        ;

        
    
    
            var circle_marker_8d25b1e46b1446a04a34993658a2aa26 = L.circleMarker(
                [40.7282, -74.153],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_664d01b5c5249390a23570d927eb8545 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3ba445c41dc8284ea44a5c970c61720e = $(`<div id="html_3ba445c41dc8284ea44a5c970c61720e" style="width: 100.0%; height: 100.0%;">Store Name: ShopRite of Newark |  Banana $0.58</div>`)[0];
                popup_664d01b5c5249390a23570d927eb8545.setContent(html_3ba445c41dc8284ea44a5c970c61720e);
            
        

        circle_marker_8d25b1e46b1446a04a34993658a2aa26.bindPopup(popup_664d01b5c5249390a23570d927eb8545)
        ;

        
    
    
            var circle_marker_5dd3ef7163ef6df4abdb461b44807597 = L.circleMarker(
                [40.735, -74.227],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_d44bbf1c26f89edd2037efe603b29e4c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bf53a96b319fa9625d871f96aeb49c91 = $(`<div id="html_bf53a96b319fa9625d871f96aeb49c91" style="width: 100.0%; height: 100.0%;">Store Name: ALDI |  Banana $0.49</div>`)[0];
                popup_d44bbf1c26f89edd2037efe603b29e4c.setContent(html_bf53a96b319fa9625d871f96aeb49c91);
            
        

        circle_marker_5dd3ef7163ef6df4abdb461b44807597.bindPopup(popup_d44bbf1c26f89edd2037efe603b29e4c)
        ;

        
    
    
            var circle_marker_b076a68a53d05bad2808f452192e40b2 = L.circleMarker(
                [40.735, -74.227],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_adbaade56f002d336713333c7c33c2d4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4b3e8577cab05e418e9fa76a2cc7e74f = $(`<div id="html_4b3e8577cab05e418e9fa76a2cc7e74f" style="width: 100.0%; height: 100.0%;">Store Name: Key Food Supermarket |  Banana $0.59</div>`)[0];
                popup_adbaade56f002d336713333c7c33c2d4.setContent(html_4b3e8577cab05e418e9fa76a2cc7e74f);
            
        

        circle_marker_b076a68a53d05bad2808f452192e40b2.bindPopup(popup_adbaade56f002d336713333c7c33c2d4)
        ;

        
    
    
            var circle_marker_54833b92dbf70e961cd122877ac30fc4 = L.circleMarker(
                [39.926, -75.119],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_448b0fc082842cdb9e2a64f7939bde4d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bc8980bf87fbc515d36750d6653ce94f = $(`<div id="html_bc8980bf87fbc515d36750d6653ce94f" style="width: 100.0%; height: 100.0%;">Store Name: ShopRite of Camden |  Banana $0.6</div>`)[0];
                popup_448b0fc082842cdb9e2a64f7939bde4d.setContent(html_bc8980bf87fbc515d36750d6653ce94f);
            
        

        circle_marker_54833b92dbf70e961cd122877ac30fc4.bindPopup(popup_448b0fc082842cdb9e2a64f7939bde4d)
        ;

        
    
    
            var circle_marker_4322d231a0f4c8ea7ba865b055c421f2 = L.circleMarker(
                [39.926, -75.119],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_66c7fd3583cf9b1afd42b85d5fdc4662 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cbbd8da25c21d488ec0f73ab159869d8 = $(`<div id="html_cbbd8da25c21d488ec0f73ab159869d8" style="width: 100.0%; height: 100.0%;">Store Name: ALDI |  Banana $0.55</div>`)[0];
                popup_66c7fd3583cf9b1afd42b85d5fdc4662.setContent(html_cbbd8da25c21d488ec0f73ab159869d8);
            
        

        circle_marker_4322d231a0f4c8ea7ba865b055c421f2.bindPopup(popup_66c7fd3583cf9b1afd42b85d5fdc4662)
        ;

        
    
    
            var circle_marker_5fdca97291c1fbb14f52087fd3fc947e = L.circleMarker(
                [39.926, -75.119],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "cyan", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_f0fb48b52c6e593feea497372008b9e1);
        
    
        var popup_e588437eedf15e9534688a06bd597ef0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fb03e2a67447a1508b4d550b67c0553c = $(`<div id="html_fb03e2a67447a1508b4d550b67c0553c" style="width: 100.0%; height: 100.0%;">Store Name: Save-A-Lot |  Banana $0.58</div>`)[0];
                popup_e588437eedf15e9534688a06bd597ef0.setContent(html_fb03e2a67447a1508b4d550b67c0553c);
            
        

        circle_marker_5fdca97291c1fbb14f52087fd3fc947e.bindPopup(popup_e588437eedf15e9534688a06bd597ef0)
        ;

        
    
</script>
</html>